@font-face {
    font-family: "Axiforma";
    src: url("https://db.onlinewebfonts.com/t/9457c08494c18c480656f79771950fac.eot");
    src: url("https://db.onlinewebfonts.com/t/9457c08494c18c480656f79771950fac.eot?#iefix")
            format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/9457c08494c18c480656f79771950fac.woff2")
            format("woff2"),
        url("https://db.onlinewebfonts.com/t/9457c08494c18c480656f79771950fac.woff")
            format("woff"),
        url("https://db.onlinewebfonts.com/t/9457c08494c18c480656f79771950fac.ttf")
            format("truetype"),
        url("https://db.onlinewebfonts.com/t/9457c08494c18c480656f79771950fac.svg#Axiforma Light")
            format("svg");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Axiforma";
    src: url("https://db.onlinewebfonts.com/t/ef3aab6eae44b00ed09594544784e6d8.eot");
    src: url("https://db.onlinewebfonts.com/t/ef3aab6eae44b00ed09594544784e6d8.eot?#iefix")
            format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/ef3aab6eae44b00ed09594544784e6d8.woff2")
            format("woff2"),
        url("https://db.onlinewebfonts.com/t/ef3aab6eae44b00ed09594544784e6d8.woff")
            format("woff"),
        url("https://db.onlinewebfonts.com/t/ef3aab6eae44b00ed09594544784e6d8.ttf")
            format("truetype"),
        url("https://db.onlinewebfonts.com/t/ef3aab6eae44b00ed09594544784e6d8.svg#Axiforma Regular")
            format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Axiforma";
    src: url("https://db.onlinewebfonts.com/t/139f801bd31bd849b3b9b8fb1962940e.eot");
    src: url("https://db.onlinewebfonts.com/t/139f801bd31bd849b3b9b8fb1962940e.eot?#iefix")
            format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/139f801bd31bd849b3b9b8fb1962940e.woff2")
            format("woff2"),
        url("https://db.onlinewebfonts.com/t/139f801bd31bd849b3b9b8fb1962940e.woff")
            format("woff"),
        url("https://db.onlinewebfonts.com/t/139f801bd31bd849b3b9b8fb1962940e.ttf")
            format("truetype"),
        url("https://db.onlinewebfonts.com/t/139f801bd31bd849b3b9b8fb1962940e.svg#Axiforma-Medium")
            format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Axiforma";
    src: url("https://db.onlinewebfonts.com/t/e42c5e05d327a42e8f0b86a9ca9e69ae.eot");
    src: url("https://db.onlinewebfonts.com/t/e42c5e05d327a42e8f0b86a9ca9e69ae.eot?#iefix")
            format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/e42c5e05d327a42e8f0b86a9ca9e69ae.woff2")
            format("woff2"),
        url("https://db.onlinewebfonts.com/t/e42c5e05d327a42e8f0b86a9ca9e69ae.woff")
            format("woff"),
        url("https://db.onlinewebfonts.com/t/e42c5e05d327a42e8f0b86a9ca9e69ae.ttf")
            format("truetype"),
        url("https://db.onlinewebfonts.com/t/e42c5e05d327a42e8f0b86a9ca9e69ae.svg#Axiforma W05 SemiBold")
            format("svg");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
